@theme "catppuccin-default" 

* { 
  font: "monospace 10"; 
}

window { 
  width: 120px; 
  location: northwest;
  anchor:   northwest;
  x-offset: 2px;
  y-offset: 2px;
}

inputbar { enabled: false; }

listview { 
  scrollbar: false;
  orientation: vertical;
}




