@import "mocha.css";

* {
	font-size: 16px;
	font-family: "JetBrainsMono Nerd Font", monospace;
}

window#waybar {
	background: @base;
	color: @text;
}

#waybar > box.center {
  min-width: 0;
}

#workspaces {
    background: @crust;
    padding: 0px 2px;
    border-radius: 0px;
    opacity: 1.0;
    color: @text;
}

#workspaces button {
    padding: 0px 3px;
    margin: 0px 0px;
    border-radius: 0px;
    transition: all 0.1s linear;
	min-height: 0;
    background: @crust;

}

#workspaces button:hover {
    background-color: @crust;
    border: none;
    box-shadow: none;
    outline: none;
    color: @green;
    opacity: 1.0;
}

#window {
	color: @green;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: @crust;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: @base;
	background: @crust;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#network,
#bluetooth,
#custom-power,
#custom-taskbar,
#custom-spacer-dark,
#backlight,
#battery {
	background: @crust;
}

#clock,
#battery {
	padding: 0 5px;
    font-size: 16px;
}

#backlight,
#pulseaudio,
#network {
	padding: 0 5px;
}

#bluetooth,
#custom-power,
#battery {
	padding: 0 2px;
}

#disk,
#cpu,
#memory {
	font-size: 8px;
	color: @green;
}

.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    color: @green;
}

/* #backlight {
    color: @yellow;
}

#custom-power {
    color: @red;
}

#bluetooth {
    color: @blue;
}

#pulseaudio {
    color: @mauve;
}

#network {
    color: @peach;
} */
