:root {
  --spice-text: #{{ onSurface.hex }};
  --spice-subtext: #{{ onSurfaceVariant.hex }};
  --spice-main: #{{ surface.hex }};
  --spice-highlight: #{{ primary.hex }};
  --spice-misc: #{{ primary.hex }};
  --spice-notification: #{{ secondary.hex }};
  --spice-notification-error: #{{ error.hex }};
  --spice-shadow: #000000;
  --spice-card: #{{ surfaceContainer.hex }};
  --spice-player: #{{ surfaceContainerHigh.hex }};
  --spice-sidebar: #{{ surfaceContainerLowest.hex }};
  --spice-main-elevated: #{{ surfaceContainerLow.hex }};
  --spice-highlight-elevated: #{{ surfaceContainerHigh.hex }};
  --spice-selected-row: #{{ onSurface.hex }};
  --spice-button: #{{ primary.hex }};
  --spice-button-active: #{{ primary.hex }};
  --spice-button-disabled: #{{ outline.hex }};
  --spice-tab-active: #{{ surfaceContainer.hex }};
}
